table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .img{
    width: 21%;
  }
  .al{
    margin-top: 118px;
  margin-left: 42px;
  margin-right: 75px;
  }